pip --upgrade pip setuptools wheel
google-generativeai
pandas
numpy==1.26.4
chromadb==0.4.24  # Or try an older version if needed
sentence-transformers
streamlit
torch==2.0.1
transformers
diffusers
accelerate
pillow
requests
